<p id="notice"><%= notice %></p>
<%= cache "users/#{@user.id}/#{@user.updated_at.to_i}" do %>
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= @user.password %>
  </p>

  <p>
    <strong>Comfired at:</strong>
    <%= @user.comfired_at %>
  </p>

  <hr>
  User Profile

  <p>
    <strong>Age:</strong>
    <%= @user.profile.age %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= @user.profile.sex %>
  </p>

<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
